[Unit]
Description=Sync Complete CloudLinux and SWNG Mirrors
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=24
ExecStart=/bin/bash -c '/usr/bin/rsync -av --no-owner --no-group --delete {{ cloudlinux_rsync_source }} {{ cloudlinux_mirror_path }}/; /usr/bin/rsync -av --no-owner --no-group --delete {{ swng_rsync_source }} {{ swng_mirror_path }}/'
ExecStartPost=/usr/bin/python3 /opt/healthcheck/healthcheck_update.py --service sync --field repo --value {{ healthcheck_source_name }} --status OK
StandardOutput=append:{{ combined_sync_log }}
StandardError=append:{{ combined_sync_log }}
