[Unit]
Description=Sync SWNG Repository Mirror
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=24
ExecStart=/usr/bin/rsync -av --no-owner --no-group --delete {{ swng_rsync_source }} {{ swng_mirror_path }}/
ExecStartPost=/usr/bin/python3 /opt/healthcheck/healthcheck_update.py --service sync --field repo --value {{ healthcheck_source_name }} --status OK
StandardOutput=append:{{ swng_sync_log }}
StandardError=append:{{ swng_sync_log }}
