[Unit]
Description=Sync Complete SWNG Repository Mirror
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=24
ExecStart=/usr/bin/rsync -av --no-owner --no-group --delete {{ rsync_source }} {{ swng_mirror_path }}/
ExecStartPost=/usr/bin/python3 /opt/healthcheck/healthcheck_update.py --service sync --field repo --value {{ healthcheck_source_name }} --status OK
StandardOutput=append:{{ sync_log_file }}
StandardError=append:{{ sync_log_file }}
